/* Styles for all pages */

.h2-page-header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  color: #6d076d;
  margin:0;
}

.h3-page-header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1.5px;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 6px -2px 4px rgba(0, 0, 0, 1);
    color: #f0d7d7;
    margin:0;

}

.h4-page-header {
  text-align: center;
  font-family: "Times New Roman PSMT";
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  color: #6d076d;
  margin: 0
 }

// контейнерs для картинок
.img-container {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 30%;
  height: 30%;

}

.f-left {
  float: left;
}

.f-right {
  float: right;
}



//
// Text colors and decor
.bkg-we {
  background-color: wheat;
}
.txt-bo {
  color: #800000;
}

.txt-black {
  color: black;
}

.txt-red {
  color: #800000!important;
}

.txt-vi {
  color: #6d076d!important;
}
.txt-vi2 {
  color: #001848!important;
}


.txt-blue {
  color: blue!important;
}

.txt-lblue {
  color: #66349C!important;
}

.txt-und {
  text-decoration: underline;
}


// width

.w120 {
  width: 120px;
}


.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.w400 {
  width: 400px;
}

.w600 {
  width: 600px;
}
.w955 {
  width: 955px;
}

.w900 {
  width: 900px;
}

.w800 {
  width: 800px;
}

.w850 {
  width: 850px;
}



// fonts
.f-arial {
  font-family: Arial;
}

.fb {
  font-weight: bold;
}

.fi {
  font-style: italic;
}

.fin {
  font-style: normal;
}
.fs10 {
  font-size: 10px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs25 {
  font-size: 25px;
}

.fs30 {
  font-size: 30px;
}

.fs35 {
  font-size: 35px;
}

.fs40 {
  font-size: 40px;
}

.s-c {
  font-variant:small-caps;
}

//margins paddings align
.m0auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}
.mtb-10 {
  margin-bottom: 10px!important;
  margin-top: 10px!important;
}

.mt-20 {
  margin-top: 20px;
}

.mtb-20 {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-30 {
  margin-left: 30px;
}

.pl5 {
  padding-left: 5px;
}

.pl20 {
  padding-left: 20px;
}

.p-0 {
  padding: 0;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

//display
.d-block {
  display: block;
}


// doc list ul-li
.ul-doc-list {
  list-style-image: url("img/romb3.png");
  width: 955px;
  margin: 0 auto;
}

.ul-doc-list a {
  font-size: 25px;
  text-decoration: none;
  padding-left: 5px;
}
.ul-1 {
  list-style: url("img/romb.png");
}

.ul-2 {
  list-style: none;
}

.ul-2 a {
  text-decoration: none;
}



.ul-star::before {
  content: '\2735';
  font-size: 35px;
  font-weight: bold;
  padding-right: 10px;

}

.ul-flag::before {
  content: '\1F3F1';
}




// images

.w100phi {
  width: 85%;
  height: 107px;
}

.w65ph107 {
  width: 65%;
  height: 107px;
}

//.w100phi {
//  width: 100%;
//  height: inherit;
//}

.w40h24 {
  width: 40px;
  height: 24px;
}

.w30h25 {
  width: 30px;
  height: 25px;
}
.w30h30 {
  width: 30px;
  height: 30px;
}

.w20h20 {
  width: 20px;
  height: 20px;
}

.w25h20 {
  width: 25px;
  height: 20px;
}

.w50h50 {
  width: 50px;
  height: 50px;
}

.w50h60 {
  width: 50px;
  height: 60px;
}

.w50h30 {
  width: 50px;
  height: 30px;
}

.w50h40 {
  width: 50px;
  height: 40px;
}


.w50h80 {
  width: 50px;
  height: 80px;
}

.w65h35 {
  width: 65px;
  height: 35px;
}

.w70h70 {
  width: 70px;
  height: 70px;
}
.w100h30 {
  width: 100px;
  height: 30px;
}

.w100h100 {
  width: 100px;
  height: 100px;
}

.w100h130 {
  width: 100px;
  height: 130px;
}

.w130h130 {
  width: 130px;
  height: 130px;
}

.w200h200 {
  width: 200px;
  height: 200px;
}





//
.page-center-img {
  margin-left: 30%
}

// Блок сведений со светофором
.sved-info-block {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}
.sved-info-block > p {
  font-size: 18px;
  font-weight: 600;
  color:#800000;
  margin: 5px 0 5px 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.sved-info-block span {
  color: #66349c;
  font-size: 22px;
  font-family: TimesNewPSBoldMT;
  line-height: 24px;
  font-weight: 600;
  //font-style: italic;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.sved-info-block > p:last-child {
  font-size: 18px;
  font-style: italic;
  //font-weight: 600;
  color:#800000;
  margin: 0;
}

//table styles


.tw-25p {
  width: 25%;
}

.tw-30p {
  width: 30%;
}

.tw-12p {
  width: 12%;
}


.tw-25px {
  width: 25px;
}





//borders

.b-1p {
  border: 1px solid black;
}

.b-2p {
  border: 2px solid black;
}


.bb2s-blue {
  border-bottom: 2px solid blue;
}

.b-top {
  border-top:1px solid black;
}

//fonts

.wd {
  font-family: Wingdings;
}

.wd2 {
  font-family: "Wingdings 2";
}

.tsd {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
//

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-abs-romb {
  position: absolute;
  left: -50px;
  top: 50px;
}


.c-left {
  position: absolute;
  left:70px;

}

.c-right {
  position: absolute;
  right:70px;
  top:-75px;
}


// docs container
.docs-cont-1 {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//.docs-cont-1 img {
//  width: 40%;
//  height: 30%;
//}

.docs-cont-1 a {
  width: 40%;
  height: 30%;
}

.docs-cont-1 img {
  width: 100%;
}

.docs-cont-2 {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.docs-cont-2 a {
  width: 60%;
  height: 30%;
}

.docs-cont-2 img {
  width: 100%;
}

.docs-cont-3 {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.docs-cont-3 img {
 width: 40%;
  height: 30%;
}



table ul {
  list-style: disc;
  margin-left: 10px;
}

// hr styles

