/* Styles for Svedenia */

.sved-center-text {
  width: 955px;
  font-family: TimesNewPSMT;
  font-size: 25px;
  line-height: 27px;
  margin: 0 auto;
  color: #6d076d;
}

.sved-center-text span {
  margin: 0 auto;
  color: #000;

}

