.about-item {
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}
.about-excerpt {
  display: flex;
  margin-bottom: 15px;
}
.about-excerpt-img {
  float: left;
  width: 420px;
  margin-right: 15px;
  img {
    width: 100%;
  }
}
.about-excerpt-text {
  font-size: 18px;
}
.about-excerpt-header {
  font-size: 28px;
  color: #4c86bb;
  margin-bottom: 25px;
}
.about-excerpt-content {
  word-break: break-all;
  margin-bottom: 15px;
}
.about-more-link {
  a {
    color: #4c86bb;
    text-decoration: none;
  }
}
.about-item-source {
  margin-top: 10px;
  width: 605px;
  display: flex;
  justify-content: space-between;
  float: right;
}
.about-content {
  display: none;
}